<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZenNIO - Person</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <script src="/main.js"></script>
</head>
<body onload="getPersons()">
    <h1> Person </h1>
    <table class="table">
        <tr>
            <td><input id="id" type="text" placeholder="Uuid"/></td>
            <td><input id="firstname" type="text" placeholder="Firstname"/></td>
            <td><input id="lastname" type="text" placeholder="Lastname"/></td>
            <td><input id="email" type="text" placeholder="Email"/></td>
            <td><input type="button" value="SAVE" onclick="savePerson()"/></td>
            <td> <a href="/auth">Auth</a> </td>
        </tr>
    </table>
    <h1> Persons </h1>
    <div id="content"></div>
</body>
</html>
