
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

input {
    font-size: medium;
    width: 98%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td {
    border: 1px solid #eee;
    padding: 5px;
}
